.table {
    &-wrapper {
        min-height: 7%;
        max-height: 90%;
        overflow-y: auto;

        table {
            width: 100%;
            text-align: left;
        }

        tr {
            border-bottom: 1px solid #E0E0E0;
        }

        th {
            border-top: 1px solid #E0E0E0;
        }

        th,
        td {
            padding: 12px 0px;
            border-bottom: 1px solid #E0E0E0;
        }
    }


    &__btns {
        display: flex;
        align-items: center;
        gap: 12px;

        &-edit,
        &-delete {
            cursor: pointer;
            font-size: 20px;
        }
    }
}

@media (max-width: 1024px) {
    .table {
        &-wrapper {
            thead {
                display: none;
            }

            tr {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;
                padding: 10px 0px;
            }

            td {
                border: none;
                padding: 7px 0px;

                &::before {
                    content: attr(data-label) ": ";
                    font-weight: 600;
                }
            }

            td:last-child {
                position: absolute;
                right: 0;

                &::before {
                    content: none;
                }
            }

            tr:last-child {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .table {
        &-wrapper {
            thead {
                display: none;
            }

            tr {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;
                padding: 10px 0px;
            }

            td {
                border: none;
                padding: 7px 0px;

                &::before {
                    content: attr(data-label) ": ";
                    font-weight: 600;
                }
            }

            td:last-child {
                position: absolute;
                right: 0;

                &::before {
                    content: none;
                }
            }

            tr:last-child {
                border-bottom: none;
            }
        }
    }
}