* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

input,
select,
button {
  font: inherit;
}

/* LOGIN */
.login {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100VH;
  color: #212121;

  &__container {
    padding: 24px 16px;
    background-color: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    width: 30%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__app-name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__header {
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-fields {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;
      color: #757575;

      &-input {
        width: 100%;
        padding: 8px 12px;
        border-radius: 6px;
        border: 1px solid #E0E0E0;
        height: 40px;
        outline: none;
        background-color: #f9fafb;
      }

      &-input:hover {
        border: 1px solid #9ca3af;
      }

      &-input:focus {
        border: 1px solid #6b62ff;
        box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.747);
      }

    }
  }

  &__btn-submit {
    cursor: pointer;
    background-color: #6C63FF;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 500;
    margin-top: 12px;
  }

  &__btn-submit:hover {
    box-shadow: 0px 0px 0px 2px rgba(107, 99, 255, 0.712);
  }

  &__error {
    color: #F44336;
    margin-top: 4px;
  }

  &__register {
    margin-top: 12px;

    &-link {
      color: #6c63ff;
      font-weight: 500;
      text-decoration: none;
    }

  }
}

@media (max-width: 1024px) {
  .login {
    &__container   {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .login {
    &__container   {
      width: 90%;
    }
    &__btn {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
}

// HEADER
.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: 10%;

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #111827;

    img {
      width: 50px;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    position: relative;

    &-user {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border-radius: 32px;
      background-color: #4f46e5;
      color: #fff;
      cursor: pointer;
    }

    &-dropdown {
      position: absolute;
      z-index: 111;
      top: 35px;
      right: 0px;
      border-radius: 8px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      color: #333;
      min-width: 12%;
      background-color: #f9fafb;
      opacity: 0;
      visibility: hidden;
      transform: translateY(0px);
      transition: 0.2s opacity ease, 0.2s transform ease, 0s visibility ease 0.2s;

      &-item {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      &-item:hover {
        background-color: #f5f5f5;
      }

      &-item:last-child {
        border-top: 0.5px solid #ddd
      }
    }

    &-dropdown.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(10px);
      transition: 0.2s opacity ease, 0.2s transform ease, 0s visibility ease 0.2s;
    }

    &-user:hover {
      box-shadow: 0px 2px 6px rgb(79, 70, 229, 0.5);
    }
  }

  &__button-logout {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    &__title {
      font-size: 14px;

      img {
        width: 40px;
      }
    }
  }
}

// DASHBOARD
.dashboard {
  height: 100vh;
  color: #212121;

  &__container {
    background-color: #f3f4f6;
    padding: 12px 16px;
    height: 90%;

    &-header {
      height: 4%;
    }
  }

  &__main {
    display: flex;
    height: 96%;
    gap: 14px;
  }

  &__statistics {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;

    &-general {
      border-radius: 8px;
      background-color: #fff;
      display: flex;
      width: 100%;
      height: 19%;
      border: 1px solid #E0E0E0;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

      p {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 18px;
      }

      span {
        font-weight: 700;
        font-size: 32px;
      }

      &-item {
        width: 80%;
        padding: 18px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      &-item:first-child {
        border-right: 1px solid #E0E0E0;
      }
    }

    &-summary {
      border-radius: 8px;
      width: 100%;
      background-color: #fff;
      padding: 18px 24px;
      height: 35%;
      border: 1px solid #E0E0E0;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

      p {
        font-size: 16px;
        font-weight: 500;
      }

      &-pie-chart {
        width: 100%;
        height: 100%;
      }
    }

    &-trends {
      width: 100%;
      height: 40.5%;
      background-color: #fff;
      padding: 18px 24px;
      border-radius: 8px;
      border: 1px solid #E0E0E0;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

      p {
        font-size: 16px;
        font-weight: 500;
      }

      &-line-chart {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    height: 98%;
    width: 60%;
    background-color: #fff;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    &-header {
      display: flex;
      align-items: center;

      h3 {
        flex: 1;
      }

      &-action {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: end;
        gap: 12px;
      }
    }

    &-table {
      min-height: 7%;
      max-height: 90%;
      overflow-y: auto;

      &-button {
        display: flex;
        align-items: center;
        gap: 12px;

        &-edit,
        &-delete {
          cursor: pointer;
          font-size: 20px;
        }
      }

      table {
        width: 100%;
        text-align: left;
      }

      tr {
        border-bottom: 1px solid #E0E0E0;
      }

      th {
        border-top: 1px solid #E0E0E0;
      }

      th,
      td {
        padding: 12px 0px;
        border-bottom: 1px solid #E0E0E0;
      }
    }
  }

  &__button-add {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #fff;
    padding: 8px 12px;
    background-color: #6b62ff;
    border-radius: 8px;
    border: 1px solid transparent;

    &-icon {
      font-size: 20px;
    }
  }

  &__button-add:hover {
    box-shadow: 0px 0px 0px 2px rgba(107, 99, 255, 0.712);
  }
}

@media (max-width: 1024px) {
  .dashboard {

    &__statistics {
      width: 50%;

      &-trends {
        font-size: 12px;
      }
    }

    &__content {
      width: 50%;

      &-header {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: start;

        &-action {
          width: 100%;
          justify-content: start;
        }
      }

      &-table {
        thead {
          display: none;
        }

        tr {
          display: flex;
          flex-direction: column;
          align-items: start;
          position: relative;
          padding: 10px 0px;
        }

        td {
          border: none;
          padding: 7px 0px;

          &::before {
            content: attr(data-label) ": ";
            font-weight: 600;
          }
        }

        td:last-child {
          position: absolute;
          right: 0;

          &::before {
            content: none;
          }
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }

    &__button-add {
      flex: 1;
    }
  }

  .filter__wrapper {
    flex: 1;
  }

  .filter__button {
    width: 100%;
  }

  .filter__wrapper .filter__container {
    right: -109px;
    width: 370px;
    z-index: 111;
  }

  .filter__container .filter__item {
    flex-direction: column;
    align-items: start;
    gap: 8px;

    &-select-drop-icon {
      right: 10px;
      top: 32px;
    }
  }
} 

@media (max-width: 768px) {
  .header {
    height: 80px;
  }
  .dashboard {
    min-height: 100vh;

    &__container {
      height: auto;
    }

    &__container-header {
      height: 40px;
      padding: 4px 0px;
    }
    &__main {
      flex-direction: column;

      &::after {
        content: "";
        padding: 1px;
      }
    }

    &__statistics {
      width: auto;

      &-general {
        height: 160px;
      }

      &-summary {
        height: auto;

        &-pie-chart {
          height: 210px;
        }
      }

      &-trends {
        height: auto;
        font-size: 12px;

        &-line-chart {
          height: 250px;
        }
      }
    }

    &__content {
      width: auto;
      height: 800px;

      &-header {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: start;

        &-action {
          width: 100%;
          justify-content: start;
        }
      }

      &-table {
        thead {
          display: none;
        }

        tr {
          display: flex;
          flex-direction: column;
          align-items: start;
          position: relative;
          padding: 10px 0px;
        }

        td {
          border: none;
          padding: 7px 0px;

          &::before {
            content: attr(data-label) ": ";
            font-weight: 600;
          }
        }

        td:last-child {
          position: absolute;
          right: 0;

          &::before {
            content: none;
          }
        }

        tr:last-child {
          border-bottom: none;
        }
      }
    }

    &__button-add {
      flex: 1;
    }
  }

  .filter__wrapper {
    flex: 1;
  }

  .filter__button {
    width: 100%;
  }

  .filter__wrapper .filter__container {
    left: 0px;
    width: 370px;
    z-index: 111;
  }

  .filter__container .filter__item {
    flex-direction: column;
    align-items: start;
    gap: 8px;

    &-select-drop-icon {
      right: 10px;
      top: 32px;
    }
  }
}

// PROFILE
.profile {
  height: 100vh;
  color: #212121;

  &__container {
    height: 90%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  &__content {
    padding: 24px 16px;
    width: 30%;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    &-save,
    &-cancel {
      cursor: pointer;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid transparent;
      font-weight: 500;
      margin-top: 12px;
    }

    &-save {
      background-color: #6C63FF;
      color: #fff;
    }

    &-cancel {
      border: 1px solid #F44336;
      color: #F44336;
      background-color: #fff;
    }

    &-save:hover {
      box-shadow: 0px 0px 0px 2px rgba(107, 99, 255, 0.712);
    }

    &-cancel:hover {
      box-shadow: 0px 0px 0px 2px rgb(244, 67, 54, 0.2);
    }
  }

  &__error {
    color: #F44336;
    margin-top: -20px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .profile {
    &__content   {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .profile {
    &__content {
      width: 90%;
    }
    &__btn {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
}

// SETTIGNGS
.settings {
  height: 100vh;
  color: #212121;

  &__container {
    height: 90%;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  &__content {
    padding: 24px 16px;
    width: 30%;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    &-save,
    &-cancel {
      cursor: pointer;
      padding: 12px 20px;
      border-radius: 8px;
      border: 1px solid transparent;
      font-weight: 500;
      margin-top: 12px;
    }

    &-save {
      background-color: #6C63FF;
      color: #fff;
    }

    &-cancel {
      border: 1px solid #F44336;
      color: #F44336;
      background-color: #fff;
    }

    &-save:hover {
      box-shadow: 0px 0px 0px 2px rgba(107, 99, 255, 0.712);
    }

    &-cancel:hover {
      box-shadow: 0px 0px 0px 2px rgb(244, 67, 54, 0.2);
    }
  }

  &__error {
    color: #F44336;
    margin-top: -20px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .settings {
    &__content   {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .settings {
    &__content {
      width: 90%;
    }
    &__btn {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
}

// NOEXPENSE
.noexpense {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #fff;
    padding: 8px 12px;
    background-color: #6b62ff;
    border-radius: 8px;
    border: 1px solid transparent;

    &-icon {
      font-size: 20px;
    }
  }

  &__btn:hover {
    box-shadow: 0px 0px 0px 2px rgba(107, 99, 255, 0.712);
  }
}

.noexpense p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}


// FILTER 
.filter {

  &__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    background-color: #ddd;
    border-radius: 8px;
    border: 1px solid transparent;
  }

  &__button:hover {
    box-shadow: 0px 0px 0px 2px rgba(122, 122, 122, 0.4);
  }

  &__button.open {
    background-color: #6b62ff;
    color: #fff;
  }

  &__button.open:hover {
    box-shadow: 0px 0px 0px 2px rgba(107, 99, 255, 0.712);
  }

  &__wrapper {
    position: relative;
  }

  &__container {
    position: absolute;
    top: 42px;
    right: 0px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 18px 24px;
    width: 480px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;

    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 24px;
    }
  }

  &__container.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    span {
      width: 30%;
    }

    &-input,
    &-select {
      width: 100%;
      padding: 8px 12px;
      border-radius: 6px;
      border: 1px solid #E0E0E0;
      height: 40px;
      outline: none;
      background-color: #f9fafb;
    }

    &-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;

      &-drop-icon {
        position: absolute;
        right: 14px;
        font-size: 30px;
        pointer-events: none;
      }
    }

    &-input:focus,
    &-select:focus {
      outline: 1px solid #6C63FF;
      box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.747);
    }
  }

  &__footer {
    margin-top: 14px;
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  &__footer-btn.apply {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #6b62ff;
    color: #fff;
  }

  &__footer-btn.apply:hover {
    box-shadow: 0px 0px 0px 2px rgb(108, 99, 255, 0.1);
  }

  &__footer-btn.clear {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #F44336;
    background-color: #fff;
    color: #F44336;
  }

  &__footer-btn.clear:hover {
    box-shadow: 0px 0px 0px 2px rgb(244, 67, 54, 0.1);
  }
}

// EXPENSE FORM
.expense {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  color: #212121;

  &__container {
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;

    img {
      width: 12%;
      ;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;

    &-fields {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 6px;
      width: 100%;
      color: #757575;
      position: relative;

      &-input,
      &-select {
        width: 100%;
        padding: 8px 12px;
        border-radius: 6px;
        height: 40px;
        border: 1px solid #E0E0E0;
        background-color: #f9fafb;
        outline: none;
      }

      &-select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        &-arrow {
          position: absolute;
          top: 56%;
          right: 4%;
        }
      }

      &-input:hover,
      &-select:hover {
        border: 1px solid #9ca3af;
      }

      &-input:focus,
      &-select:focus {
        border: 1px solid #6b62ff;
        box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.747);
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 12px;

    &-add,
    &-cancel {
      cursor: pointer;
      padding: 12px 20px;
      border-radius: 8px;
      font-weight: 500
    }

    &-add {
      background-color: #6C63FF;
      border: 1px solid #6C63FF;
      color: #fff;
    }

    &-add:hover {
      box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.712);
    }

    &-cancel {
      background-color: #fff;
      border: 1px solid #F44336;
      color: #F44336;
    }

    &-cancel:hover {
      box-shadow: 0px 0px 2px rgb(244, 67, 54, 0.712);
    }
  }

  &__app-name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px
  }

  &__header {
    margin-bottom: 24px;
  }

  &__error {
    color: #F44336;
    font-size: 14px;
  }

}

@media (max-width: 1024px) {
  .expense {
    &__container   {
      width: 70%;
    }
  }
}

@media (max-width: 768px) {
  .expense {
    &__container {
      width: 90%;
    }
    &__btn {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
}

/* HOME */
.home {
  height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    padding: 12px 60px;

    &-title {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 12px;

      .logo {
        font-size: 40px;
      }
    }

    &-btn {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 16px;
      width: 100%;

      button {
        cursor: pointer;
        padding: 12px 20px;
        border-radius: 8px;
        font-weight: 500
      }

    }

    &-btn-register {
      background-color: #6C63FF;
      border: 1px solid #6C63FF;
      color: #fff;
    }

    &-btn-register:hover {
      box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.712);
    }

    &-btn-login {
      background-color: #fff;
      border: 1px solid #6C63FF;
      color: #6C63FF;
    }

    &-btn-login:hover {
      box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.712);
    }
  }

  &__content {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &-description {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 24px;

      &-main {
        font-size: 60px;
        font-weight: 700;
      }

      &-sub {
        font-size: 30px;
        font-weight: 400;
        width: 75%;
      }
    }

    &-btn-get-started {
      cursor: pointer;
      padding: 16px 60px;
      font-size: 24px;
      border-radius: 8px;
      background-color: #6C63FF;
      color: #fff;
      border: 1px solid transparent;
      transition: 0.2s transform ease-in-out;
      margin: 36px 0px;
    }

    &-btn-get-started:hover {
      box-shadow: 0px 0px 4px rgba(107, 99, 255, 0.712);
    }

    &-navigate {
      font-size: 24px;
    }

    &-navigate-link {
      text-decoration: none;
      color: #6C63FF;
    }

    &-navigate-link:hover {
      text-decoration: underline;
    }

  }

}

// REGISTER
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F5F5;
  color: #212121;

  &__container {
    background-color: #FFF;
    text-align: center;
    padding: 24px 16px;
    border-radius: 12px;
    width: 30%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__app-name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__header {
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #757575;

    &-fields {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;

      &-input {
        width: 100%;
        border-radius: 6px;
        padding: 8px 12px;
        border: 1px solid #e0e0e0;
        outline: none;
        height: 40px;
        background-color: #f9fafb;
      }

      &-input:hover {
        border: 1px solid #9ca3af;
      }

      &-input:focus {
        border: 1px solid #6b62ff;
        box-shadow: 0px 0px 2px rgba(107, 99, 255, 0.747);
      }
    }
  }

  &__btn-submit {
    padding: 12px 20px;
    background-color: #6C63FF;
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-top: 14px;
    font-weight: 500;
  }

  &__btn-submit:hover {
    box-shadow: 0px 0px 8px rgba(107, 99, 255, 0.712);
  }

  &__error {
    color: #F44336;
    margin-top: 4px;
  }

  &__login {
    margin-top: 12px;

    &-link {
      color: #6c63ff;
      font-weight: 500;
      text-decoration: none;
    }
  }

}

.logo {
  width: 12%;
}

// LOADER
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  width: 75px;
  height: 75px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #2980b9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.no-data {
  color: #212121;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  &-icon {
    font-size: 75px;
  }

  p {
    font-size: 28px;
  }
}

@media (max-height: 768px) {
  .no-data {
    // height: auto;
  }
}

.error {
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__main-content {
    color: #ff0000;

    &-footer {
      span {
        cursor: pointer;
      }
    }
  }

  span {
    font-weight: 600;
    color: #000;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e4edf7;
    border-radius: 8px;
    border: 1px solid gray;
    width: 50%;
    height: 40%;
  }
}

// MODAL
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;

    span {
      font-size: 18px;
      font-weight: 600;
    }

    &-close {
      cursor: pointer;
      font-size: 18px;
    }
  }

  &__content {
    padding: 1rem;
    font-size: 18px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

     &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    &-yes,
    &-no {
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid transparent;
      font-weight: 500;
      margin-top: 12px;
    }

    &-yes {
      background-color: #4CAF50;
      color: #fff;
    }

    &-no {
      color: #FFF;
      background-color: #F44336;
    }

    &-yes:hover {
      box-shadow: 0px 0px 0px 2px rgba(76, 175, 79, 0.705);
    }

    &-no:hover {
      box-shadow: 0px 0px 0px 2px rgb(244, 67, 54, 0.2);
    }
  }
  }

}